@tailwind base;
@tailwind components;
@tailwind utilities;

/* Jedi's lightsaber colors:
  - Blue (Luke's)
  - Green (Yoda's)
  - Purple (Windu's)
  - Red (Darth Vader)
  - White (Ahsoka's)
*/
:root {
  --multi-color-gradient: linear-gradient(
    to right,
    #0040ff,
    #20eb6e,
    #ffffff,
    #ff00d2,
    #fed90f,
    #ffffff,
    #c520c5,
    #ffffff,
    #0000ff
  );
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #000;
  /* font-family: fantasy; */
  overflow-x: hidden;
}

/* ********** HEADER COMPONENT ********** */

/* .header {
  position: relative;
  height: 100vh;
} */

/* NAVBAR */
/* .nav-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
} */

/* .nav-logo-link {
  margin-left: 1rem;
}

.nav-logo-link:first-child {
  margin-left: 2.5rem;
} */

.git-animated {
  animation: moveInRight 3s ease-in-out 6s;
  animation-fill-mode: backwards;
}

.twit-animated {
  animation: moveInRight 3s ease-in-out 5s;
  animation-fill-mode: backwards;
}

.in-animated {
  animation: moveInRight 3s ease-in-out 4s;
  animation-fill-mode: backwards;
}

/* BANNER CONTAINER */
/* .banner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* BANNER TEXT */
.banner-title {
  color: #000;
  background-clip: text;
  background-image: var(--multi-color-gradient);
  background-size: 300% auto;
  /* font-size: 2.5rem; */
  font-weight: 900;
  letter-spacing: 1rem;
  text-transform: uppercase;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);

  animation: textBorder 10s linear 3s infinite, textEnter 3s ease-in-out;
}

/* .banner-title-sub {
  display: none;
} */

/* ********** KEYFRAMES ********** */

@keyframes textBorder {
  to {
    background-position: 300% center;
  }
}

@keyframes textEnter {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ***** MEDIA QUERIES ***** */

@media only screen and (min-width: 640px) {
  .banner-title {
    /* font-size: 6rem; */
  }
}
